<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Parsing WebSite</title>
    <style>
        body {
            font-size: 20px;
            font-family: "-apple-system",
            BlinkMacSystemFont,
            Arial,
            sans-serif;
        }
        a {
            color: #445555;
        }
        a:hover{
            color: #777777;
        }

        footer div {
            text-align: center;
        }
    </style>
</head>
<body>

<header class="main-head navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <h1>Html parser 1.0</h1>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav col-md-6">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parser">Parser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/details">Details</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Parsing details</h3>
                <div th:if="${websites.isEmpty()}">
                    <h5>You have no websites details yet :(</h5>
                </div>
                <div th:each="website : ${websites}">
                    <h5 th:text="${website.targetUrl}"></h5>
                    <div th:each="content : ${website.uniqueContent.values()}">
                        <h6 th:text="${content.value}"></h6>
                        <p th:text="${content.quantity}"></p>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-foot">
    <div class="container-fluid">
        2019 © Html Parser <br>
    </div>
</footer>

</body>
</html>