<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Parsing WebSite</title>
    <style>
        body {
            font-size: 20px;
            font-family: "-apple-system",
            BlinkMacSystemFont,
            Arial,
            sans-serif;
        }
        a {
            color: #445555;
        }
        a:hover{
            color: #777777;
        }

        footer div {
            text-align: center;
        }
    </style>
</head>
<body>

<header class="main-head navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <h1>Html parser 1.0</h1>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav col-md-6">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parser">Parser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/details">Details</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="justify-content-center">
            <div class="col-10">
                <article>
                    <h3>Description</h3>
                    <p>The purpose of this web application is getting information form different websites to examine the content.</p>
                    <p>So go to the <a th:href="@{/parser}">parser page</a>, tap the url of a target website and get the info.</p>
                    <p>Also you can see the parsing details <a th:href="@{/details}">here</a>.
                        All extraction data persists to database for current session.</p>
                </article>

            </div>
        </div>
    </div>
</div>

<footer class="main-foot">
    <div class="container-fluid">
        2019 © Html Parser <br>
    </div>
</footer>

</body>
</html>